/* color scheme --- #0d1b2a #1b263b #415a77 #778da9 #faf9f9 */

body {
    text-align: center;
    background-color: #e0e1dd;
    color: #0d1b2a;
}

#full-character-sheet {
    display: none;
    margin: 0 30px;
    border: 1px solid black;
}

.top-box {
    display: flex;
}

.boxes {
    background-color: #778da9;
    color: #faf9f9;
    border: 2px solid #555b6e;
    border-radius: 30px;
    display: inline;
    margin: 0 10px;
    flex: 1;
    height: 60px;
    line-height: 55px;
    text-align: center;
}

button {
    background-color: #778da9;
    color: #faf9f9;
    border-radius: 30px;
    margin: 1px 0;
}

.stats {
    padding: 0 30px;
    flex: 3;
    border: 1px solid 555b6e;
}

.name {
    text-align: center;
    padding: 0 30px;
    flex: 2;
    border: 1px solid 555b6e;    
    font-size: 14px;
}

span {
    font-weight: 700;
    font-size: 2em;
}

.paragraphs-and-checks {
    padding: 0 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.paragraphs {
    text-align: justify;
    padding: 30px;
    flex: 4;
}

.checks {
    flex: 3;
    display: flex;
    padding: 30px;
}

.actual-stats {
    display: flex;
}

.actual-stats-nums {
    flex: 1;
}

p {
    display: none;
}

h3 {
    margin-top: 30px;
}